<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.SystemEmailPoMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.PO.SystemEmailPo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="email_type" jdbcType="VARCHAR" property="emailType" />
    <result column="email_description" jdbcType="VARCHAR" property="emailDescription" />
    <result column="trigger_rule_description" jdbcType="VARCHAR" property="triggerRuleDescription" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="lastmodified_by" jdbcType="VARCHAR" property="lastmodifiedBy" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.example.demo.entity.PO.SystemEmailPo">
    <result column="email_template_list" jdbcType="LONGVARCHAR" property="emailTemplateList" />
  </resultMap>
  <sql id="Base_Column_List">
    id, brand, email_type, email_description, trigger_rule_description, state, created_by, 
    created_time, lastmodified_by, last_time
  </sql>
  <sql id="Blob_Column_List">
    email_template_list
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from system_email
    where id = #{id,jdbcType=INTEGER}
  </select>
</mapper>